#gotop2{position: fixed;width: 72px;height: 477px;bottom: 200px;right: 100px;font-size: 12px}
#gotop2 a{font-size: 12px}
#gotop2 img.fixed{position: absolute;top: -23px;left: 9px;display: block}
#gotop2 span.code{width: 70px;height: 101px;display: block;border: 1px solid #ccc;background-color: #fff}
#gotop2 span.code img{display: block;margin: 13px 0 0 5px}
#gotop2 span.code span{display: block;width: 70px;text-align: center;height: 24px;line-height: 24px;}
#gotop2 a.shopMarket{display: block;width: 72px;height: 78px;border-top:1px solid #fff;background: url("/images/shopMarket.jpg") 25px 20px no-repeat #ddd;text-align: center;line-height: 120px}
#gotop2 a.onlineService{display: block;width: 72px;height: 78px;border-top:1px solid #fff;background: url("/images/onlineService.jpg") 25px 20px no-repeat #ddd; text-align: center;line-height: 120px}
#gotop2 a.onlineBack{display: block;width: 72px;height: 78px;border-top:1px solid #fff;background: url("/images/onlineBack.jpg") 25px 20px no-repeat #ddd; text-align: center;line-height: 120px}
#gotop2 a.VIP{display: block;width: 72px;height: 36px;border-top:1px solid #fff;background: url("/images/VIP.jpg") 25px 13px no-repeat #ddd; text-align: center;line-height: 16px;padding-top:42px}
#gotop2 a.gotop2{display: block;width: 51px;height:36px;background-color: #ddd;padding: 21px 0 0 21px;border-top: 1px solid #fff}
#gotop2 a.gotop2 img{display: block;}

#content{height: 420px;}
#content #contentTop{width: 100%;height: 240px;}
#content #contentTop img{margin: 50px;margin-bottom: 0}
#content #contentTop h3{width: 768px;margin-top: 60px;margin-bottom: 50px}
#content #contentTop>a{width: 168px;height: 36px;line-height: 36px;text-align: center;background-color:#c80a28 ;color: #fff;margin-left: 50px}
#content #contentTop>span{display: inline-block;width: 768px;height: 40px;line-height: 40px}
#content #contentTop>span a{height: 40px;line-height: 40px;color: #c80a28}

#content #contentBottom{width: 1197px;height: 178px;border: 1px solid #ccc;margin-top: 50px}
#content #contentBottom h3{height: 37px;line-height: 37px;border-bottom: 1px solid #ccc;text-align: left;width: 100%;text-indent: 2em}
#content #contentBottom>div{float: left;margin-top: 15px;border-right: 1px dashed #ccc;width: 285px;height: 88px;padding: 16px 0 0 107px}
#content #contentBottom>div>a{display: block;font-size: 15px;}
#content #contentBottom>div>span{display: block;width: 189px;font-size: 13px}
#content #contentBottom>div.item1{background: url("/images/newSuccess/item1.jpg") no-repeat 20px 0}
#content #contentBottom>div.item2{background: url("/images/newSuccess/item2.jpg") no-repeat 20px 0}
#content #contentBottom>div.item3{background: url("/images/newSuccess/item3.jpg") no-repeat 20px 0}
#content #contentBottom>div:last-child{border: 0}